header {
  background-color: #000000;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

header img {
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
}

header img:hover {
  transform: scale(1.05);
}